#hero {
    min-height: 950px;
    margin-top: 64px;
    color: #FFF;
    position: relative;
}

.sub-background {
    @include subBackground();

    .pagination {
        position: absolute;
        bottom: -178px;
        left: 10%;
        display: flex;
        align-items: center;
        gap: 24px;

        .page-count {
            font-family: "Roboto Condensed", sans-serif;
            color: #111;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
    }
}

.wrapper-hero {
    position: absolute;
    top: 102px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.hero-left {
    z-index: 9;

    h1 {
        font-size: 72px;
        font-family: "Inknut Antiqua", serif;
        font-weight: 900;
        line-height: 80px;
        text-transform: uppercase;
    }

    .sub-hero-title {
        margin-top: 49px;
        display: flex;
        align-items: center;
        gap: 44px;

        img {
            width: 56px;
            height: 56px;
        }

        p {
            @include textParagraphStyle();
            width: 370px;
            font-family: "Roboto Condensed", sans-serif;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: unset;
            opacity: 1;
        }
    }
}

.hero-right {
    z-index: 2;

    .hero-img {
        margin-top: 23px;
        position: relative;

        img {
            width: 268px;
            height: 268px;
        }

        .sub-hero-img {
            position: absolute;
            top: 95px;
            right: 90px;
            width: 570px;
            height: 624px;
            background-color: $orange;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            img {
                width: 684px;
                height: 513px;
            }
        }
    }
}

@media screen and (max-width: #{$mobile-width - 1px}) {
    #hero {
        min-height: 1000px;
    }

    .wrapper-hero {
        top: 50px;
        padding: 0 8%;
        justify-content: start;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        overflow: hidden;
        height: 1000px;
    }

    .hero-left {
        h1 {
            font-size: 40px;
            line-height: 48px;
        }

        .sub-hero-title {
            margin-top: 36px;

            p {
                width: auto;
            }
        }
    }

    .hero-right {
        position: relative;
        right: -210px;

        .hero-img {
            margin-top: 0;
            position: relative;

            img {
                width: 268px;
                height: 268px;
            }

            .sub-hero-img {
                right: 66%;
                width: 329px;
                height: 360px;
                border-radius: 0;

                img {
                    width: 397px;
                    height: 298px;
                }
            }
        }
    }

    .sub-background {
        .pagination {
            bottom: -52%;
            left: 8%;
        }
    }

}