.button-gr {
    display: flex;
    gap: 8px;

    button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $orange;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .1s;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.9);
        }

        i {
            font-size: 16px;
            color: #FFF;
        }
    }
}